[Unit]
Description=One-time post-install dotfiles setup
After=network.target

[Service]
Type=oneshot
User=arcius
ExecStart=/home/arcius/Git/alis/post-install.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
