/* -----------------------------------------------------
 * Import Pywal colors
 * ----------------------------------------------------- */
 @import '../../../../../.config/waybar/colors.css';
 @define-color color11 @on_primary_fixed;
 
 @define-color backgroundlight @on_surface;
 @define-color backgrounddark @color11;
 @define-color workspacesbackground1 @on_surface;
 @define-color workspacesbackground2 @color11;
 @define-color bordercolor @on_surface;
 @define-color textcolor1 @on_surface;
 @define-color textcolor2 @color11;
 @define-color textcolor3 @on_surface;
 @define-color iconcolor @on_surface;
 
 @import '../style.css';