@import url("colors.css");

window {
	background: #FFFFFF;
	border-radius: 10px;
	border-style: solid;
	border-width: 3px;
	border-color: @secondary;
}

#box {
  /* Define attributes of the box surrounding icons here */
  padding: 10px
}

#active {
	/* This is to underline the button representing the currently active window */
	border-bottom: solid 0px;
	border-color: @on_surface
}

button, image {
	background: none;
	border-style: none;
	box-shadow: none;
	color: @secondary;
}

button {
	padding: 4px;
	margin-left: 4px;
	margin-right: 4px;
	color: @secondary;
  	font-size: 12px
}

button:hover {
	background-color: rgba(255, 255, 255, 0.15);
	border-radius: 10px;
}

button:focus {
	box-shadow: none
}
